.carrossel{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: inherit;
  display: block;
}

/* HOME PAGE */
.homeContainer{
  display: flex;
  flex-direction: column;
}

.homeContainer div{
  border: 1px #534caf solid;
  padding: 10px;
}

.homeSection{
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}


/* MAIN / SECTION */
main{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

section{
  width: 100%;
}


/* FLEXGRID */

/* HOME GRID */
#homeGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
}

#homeGrid .box:nth-child(1) {
  background: #00CA85;
}
#homeGrid .box:nth-child(2) {
  background: #51ac35;
}
#homeGrid .box:nth-child(3) {
  background: #ce6324;
}
#homeGrid .box:nth-child(4) {
  background: #471ea8;
}
#homeGrid .box:nth-child(5) {
  background: #961857;
}

/* NAVIGATION */
nav{
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(255, 255, 0, 0.2);
  text-align: center;
  padding: 30px;
  word-spacing: 100px;
  font-size: x-large;
  position: sticky;
  z-index: 2;
}


/* BODY */
body{
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}


/* CONTACT PAGE */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #534caf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4645a0;
}

.formContainer {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
}

* {box-sizing:border-box}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 15px;
}

.box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 6;
}

.box-right {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 7 / 12;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5 / 9;
}